*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    padding: 10px;
}

.containerOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20vh;
    border: solid black;
}

.blueBox{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blue;
}

.greenBoxContainer{
    display: flex;
    margin: 10px;

}


.greenBox{
    position: relative;
    margin : 10px;
    width: 100px;
    height: 100px;
    background-color: green;
}

.orangeBox{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 0;
    left: 0;
}


.purpleBox{
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
}
